<h2>Browse by Genre</h2>

<select [(ngModel)]="selectedGenre" (change)="onGenreChange()">
  <option value="" disabled selected>Select a genre</option>
  <option *ngFor="let g of genres" [value]="g">{{ g }}</option>
</select>

<div *ngIf="selectedGenre">
  <h3>Artists</h3>
  <table border="1">
    <tr *ngFor="let a of artists">
      <td>{{ a.name }}</td>
      <td><a [routerLink]="['/artists', a.contentId.split('#')[1]]">{{ a.name }}</a></td>
    </tr>
  </table>

  <h3>Songs</h3>
  <table border="1">
    <tr *ngFor="let s of songs">
      <td><a [routerLink]="['/songs', s.contentId.split('#')[1]]">{{ s.name }}</a></td>
    </tr>
  </table>

  <h3>Albums</h3>
  <table border="1">
    <tr *ngFor="let al of albums">
      <td><a [routerLink]="['/albums', al.contentId.split('#')[1]]">{{ al.name }}</a></td>
    </tr>
  </table>
</div>