<h1>{{ details.name }}</h1>

<button id="subButt" *ngIf="!isSubbed" (click)="subscribeToArtist()">Subscribe</button>
<button id="unsubButt" *ngIf="isSubbed" (click)="unsubscribeFromArtist()">Unsubscribe</button>
<!--<button (click)="testSubscription()">testSubscribe</button>-->
<p><strong>ID:</strong> {{ details.id }}</p>

<p><strong>Bio:</strong></p>
<p>{{ details.bio }}</p>

<div *ngIf="details.genres && details.genres.length > 0">
  <p><strong>Genres:</strong></p>
  <ul>
    <li *ngFor="let genre of details.genres">{{ genre }}</li>
  </ul>
</div>

<div *ngIf="!grade">
    <p>Give album a grade:</p>
    <select [(ngModel)]="selectedGrade" name="grades">
      <option *ngFor="let g of [1, 2, 3, 4, 5]" [value]="g">{{ g }}</option>
    </select>
    <button (click)="submitGrade()">Confirm grade</button>
</div>
<div *ngIf="details.songs && details.songs.length > 0">
  <h3>Songs:</h3>
  <ul>
    <li *ngFor="let song of details.songs">
      <img *ngIf="song.s3ImageUrl" [src]="song.s3ImageUrl" width="50" height="50" style="margin-right: 8px;">
      <a [routerLink]="['/songs', song.songId]">{{ song.songName }}</a>
    </li>
  </ul>
</div>
<div *ngIf="grade">You gave this album grade: {{ grade }}</div>